body,a{
    margin: 0;
}
header{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
header nav{
    height: 10vh;
    display: flex;
    margin: auto 5%;
    align-items: center;
}
header nav a{
    position: absolute;
    z-index: 999;
    right: 40px;
}

/* hamburger */
.unshow{
    position: absolute;
    height: 100vh;
    width: 400px;
    top: 0;
    right: -400px;
    background-color: rgba(0, 0, 0, .2);
    transition: right .5s ease;
}
.show{
    right: 0;
}
#hamburger ul{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}
#hamburger li{
    list-style: none;
    font-size: 3em;
    
}
#hamburger li a{
    text-decoration: none;
}
#bc{
    background: url(../img/bc.jpg) center/cover no-repeat;
    height: 90vh;
}
main{
    height: 100vh;
    padding-top: 30vh;
    text-align: center;
    background-color: white;
    color: black;
}
main article{
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
}
/* Textfeld: Class textShow bedient beide Buttons*/

main div p{
   opacity: 0; 
}
.textShow{
    opacity: 1;
}



footer{
    margin-top: 50vh;
    
    display: flex;
    justify-content: center;
}
footer div{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
footer div:nth-of-type(1){
    background: linear-gradient(-45deg, black 50%, white 50%)
}
footer div:nth-of-type(2){
    background: linear-gradient(-45deg, white 50%, black 50%)
}
footer div:nth-of-type(3){
    background: linear-gradient(-45deg, #F4C4C4 50%, #2B2B29 50%)
}
.black{
    color: white;
    background: black;
}
.white{
    color: black;
    background-color: white;
}
.rose{
    color: #F4C4C4;
    background-color: #2B2B29;
}
